{% extends 'base.html' %}

{% block content %}

    <form>
        <label for="search">To Search Input Some Data</label>
            <input type="submit" id="search" value="Search"><br>   
        <label for="firstName">First Name</label>
            <input type="firstName" id="firstName">
        <label for="familyName">Family Name</label>
            <input type="familyName" id="familyName"><br>
        <label for="birthday">Birthday:</label>
            <input type="date" id="birthday" name="birthday"><br>
        <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email">

        <label for="dateAdded">Birthday:</label>
            <input type="date" id="dateAdded" name="dataAdded">
        <br>
        <input type="submit" value="Add New Patient">
        <input type="reset">
    </form>





{% endblock content %}